#channel-p{
  position: relative;
  top: 0%;
  width: 100%;
}

#channel{
  white-space: pre-line;
  font-size: 5mm;
  word-wrap: break-word;
  word-break: keep-all;
}

.timer{
  color: black; /* Цвет текста */
  font-family: sans-serif; /* Моношириный шрифт */
  quotes: "«" "»"; /* Устанавливаем вид кавычек */
} 
.timer:before {
  content: open-quote; /* Добавляем перед текстом открывающую кавычку */
}
.timer:after {
  content: close-quote; /* Добавляем после текста закрывающую кавычку */
}

.message{
  width: 100%;
  background-color: white;
}

.line{
  position: relative;
  right: 10px;
  width: 100%;
  height: 0px;
  margin: 8px;
}

h1{
  width: max-content;
  margin: 5px;
  font-size: 10mm;
}

#message{
  width: 65%;
  font-size: 20px;
}

#setting{
  position: fixed;
  font-size: 20px;
  top: 1px;
  right: 1px;
  width: max-content;
  height: max-content;
  background-color: #f7f7f7;
  outline: 1px solid #555;
  border: 1px solid #c0c2ca;
  z-index: 2;
}

#language-select{
  font-size: 16px;
}

#line-select{
  font-size: 16px;
}

#text1{
  font-size: 19px;
}

#text3{
  font-size: 15px;
}

#setting_button{
  position: fixed;
  font-size: 16px;
  top: 0%;
  right: 0%;
  width: max-content;
  height: 30px;
  z-index: 10;
}

#setting_title{
  font-size: 150%;
}