#setting{
  position: fixed;
  font-size: 13px;
  top: 35px;
  right: 1px;
  width: max-content;
  height: max-content;
  background-color: #d4dbf3;
  outline: 1px solid #555;
  border: 1px solid #c0c2ca;
  z-index: 2;
}

#setting-button{
  position: fixed;
  font-size: 14px;
  top: 0%;
  right: 0%;
  width: max-content;
  height: 35px;
  z-index: 10;
}

#input{
  position: relative;
  bottom: 50px;
  width: 100%;
  font-size: 20px;
}

#text1{
  position: relative;
  bottom: 30px;
  font-size: 40px;
}

#text2{
  position: relative;
  bottom: 60px;
  font-size: 16px;
}

#text3{
  font-size: 12px;
}