body{
  background-image: url(/img/Background-2.jpeg);
  background-size: 100%;
  color: #222;
  font-size: 30px;
}

hr{
  border-color: #3439;
}

.command-list{
  background-image: url(/img/Background-3.jpeg);
  background-size: 100%;
  border-radius: 5px;
  border: 2px solid #222;
  width: 100%;
  padding: 0%;
  overflow: auto;
  white-space: nowrap;
}

.command{
  background-image: url(/img/Background-3.jpeg);
  background-size: 100%;
  width: max-content;
  border-radius: 8px;
  border: 2px solid #222;
  padding-left: 5px;
  padding-right: 5px;
  overflow: auto;
  white-space: nowrap;
}