.background{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0%;
  top: 0%;
}
#background{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
}

#close{
  width: 100%;
  height: 100%;
}

#help{
  background-color: #e2c792;
  border-color: #caaf78;
  position: fixed;
  font-size: 16px;
  top: 30px;
  right: 0%;
  width: max-content;
  height: 30px;
  z-index: 10;
}

#help:active{
  background-color: #caaf78;
  border-color: #ad9563;
}

html{
  width: 100%;
  height: 100%;
}

body{
  position: absolute;
  top: 0%;
  margin: 0%;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-image: url(./Background-1.jpeg);
  background-repeat: repeat-y;
}

#channel-p{
  position: relative;
  top: 0%;
  width: 100%;
  background-color: #0000;
}

#channel{
  white-space: pre-line;
  font-size: 5mm;
  word-wrap: break-word;
  word-break: keep-all;
}

.timer{
  color: black; /* Цвет текста */
  font-family: sans-serif; /* Моношириный шрифт */
  quotes: "«" "»"; /* Устанавливаем вид кавычек */
}.timer:before {
  content: open-quote; /* Добавляем перед текстом открывающую кавычку */
}.timer:after {
  content: close-quote; /* Добавляем после текста закрывающую кавычку */
}

.message{
  width: 100%;
  background-color: #0000;
  color: #111;
}

.line{
  position: relative;
  border-color: #223;
  right: 10px;
  width: 100%;
  height: 0px;
  margin: 8px;
}

h1{
  color: #111;
  width: max-content;
  margin: 5px;
  font-size: 10mm;
}

#message{
  width: 65%;
  font-size: 20px;
  background-color: #0000;
  border-color: #ad9563;
}
:focus{
  background-color: #0000;
  outline: none; /* Убираем контур */
}

#setting{
  position: fixed;
  font-size: 20px;
  top: 1px;
  right: 1px;
  width: max-content;
  height: max-content;
  background-image: url(./Background-setting.jpeg);
  outline-color: #ad9563;
  border-color: #caaf78;
  color: #111;
  z-index: 2;
}

#language-select{
  font-size: 16px;
  background-color: #0000;
}
#line-select{
  font-size: 16px;
  background-color: #0000;
}
#background-select{
  font-size: 16px;
  background-color: #0000;
}
#text1{
  font-size: 19px;
}
#text-submit{
  font-size: 15px;
  background-color: #e2c792;
  border-color: #caaf78;
}
#text-submit:active{
  background-color: #caaf78;
  border-color: #ad9563;
}

#setting_button{
  background-color: #e2c792;
  border-color: #caaf78;
  position: fixed;
  font-size: 16px;
  top: 0%;
  right: 0%;
  width: max-content;
  height: 30px;
  z-index: 10;
}
#setting_button:active{
  background-color: #caaf78;
  border-color: #ad9563;
}

#setting_title{
  font-size: 150%;
}